nav {
  padding: 0 15px;
  height: 60px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 100px;
}

.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.google-map {
    padding: 10% 10%;
    position: relative;
}

.google-map iframe{
    height: 100%;
    width: 50%;
    left: 25%;
    top: 0%;
    position: absolute;
}

.socials {
  display: flex;
  gap: 10px;
}
